
html, body, #root, .App {
  height: 100%;
  margin: 0;
  background-color: #e4f3f9;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
}

.dashPartition {
  width: 95%;
  margin: auto;
}

/** Home Page Style */
.title-container {
  background-color: inherit;
  border-top: 1px solid black;
  padding: 80px 0;

}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.subTitle {
  text-align: center;
  font-size: small;
}

.spacer {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sideBySide {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: "left middle right";
}

.sentense1 {
  grid-area: left;
}

.sentense2 {
  grid-area: middle;
}

.sentense3 {
  grid-area: right;
}

.inside {
  margin: 10px;
  border: 1px solid gray;
  background-color: #def4ff;
  color: gray;
  padding: 20px;
}

.inside:hover {
  background-color: #c8def1;
  color: black;
}

.spacer2 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
}

.split {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "left right";
}

.chicken {
  grid-area: left;
}

.content {
  grid-area: right;
  padding: 20px;
  margin: 0;
  line-height: 3;
  background-color: black;
}

.bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}
/** End Home Page Style */

nav {
  background-color: inherit;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 10px;
}

.navLink {
  color: inherit;
  margin-top: 30px;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navLink:hover {
  color: black;
}

.footer {
  background-color: white;
  color: black;
  padding: 30px;
  font-weight: bold;
  font-size: large;
  /* position: fixed;
  bottom: 0px; */
}