
.blog {
  background-color: #cacaca;
  grid-area: left;
  .blogHeading {
    display: flex;
    margin: 20px 15px;
    padding: 30px 15px 20px;
    border-bottom: 1px solid black;

    .blogImage {
      width: 40vw;
    }
    .blogTitle {
      color: white;
      font-size: 30px;
      margin: 20px 40px;
      font-weight: bold;
    }
    .blogAuthor {
      margin: 20px 40px;
      font-weight: bold;
    }
  }
  .blogContent {
    margin: 5px 30px;
    padding-bottom: 15px;
  }
}

.previewTitle {
  text-decoration: underline;
  color: #4e3131;
  &:hover {
    color: gray;
  }
}

.blogDisplay {
  padding: 10px;
  margin-left: 20px;
  grid-area: right;
  background-color: white;
}

.blogPostTitle {
  font-weight: bold;
  font-size: 25px;
}

.previewImage {
  width: 20vw;
}

.blogAlign {
  display: grid;
  grid-template-columns: 7fr 2fr;
  grid-template-areas: 'left right';
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .blog {
    .blogHeading {
      flex-direction: column-reverse;
      padding: 15px 0px 20px;

      .blogImage {
        width: 87vw;
      }
      .blogTitle {
        margin: 0;
      }
      .blogAuthor {
        margin: 5px 0;
      }
    }
  }

  .blogDisplay {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .blogAlign {
    display: initial;
    margin-bottom: 20px;
  }
}