
/** Home Page Style */

.home {
  width: 95%;
  margin: auto;
}

.video {
  border: none;
  width: 500px;
  height: 280px;
  margin: auto;
}

.title-container {
  background-image: url("../photos/church.jpeg");
  background-repeat: no-repeat;
  padding: 80px 0;
  width: 100%;
  background-size: 100%;
  background-position: center bottom -60px;

}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
  height: 80px;
  line-height: 80px;
  background-color: rgba(204, 204, 204, .57);
}

.subTitle {
  text-align: center;
  font-size: small;
}

.spacer {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.spacer2 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}