
.titleContainer {
  background-image: url("../photos/church.jpeg");
  background-repeat: no-repeat;
  padding: 80px 0;
  width: 100%;
  background-size: 100%;
  background-position: center bottom -60px;
  margin-bottom: 25px;

  .transparant {

    text-align: center;
    padding: 30px;
    background-color: rgba(204, 204, 204, 0.57);
    color: black;

    .title {
      font-size: 35px;
      font-weight: bold;
    }
  }
}

.welcomeVideo {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  .video {
    border: none;
    width: 500px;
    height: 280px;
    margin: auto;
  }
}

.signUp {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  .signUpButton {
    margin-top: 20px;
    padding: 10px;
  }
  .modal {
    display: none;
  }

  .show {
    display: block;
  }
  .grayout {
    z-index: 1;
    background: rgba(128, 128, 128, 0.527);
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
  }

  .signUpForm {
    z-index: 2;
    position: fixed;
    bottom: 50%;
    right: calc(50% - 166px);
    background-color: white;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 20px;
    width: 300px;
    .signUpSubmission {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media (max-width: 500px) {
  .welcomeVideo {
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 20px 0;
    margin: 20px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .video {
      border: none;
      width: 90vw;
      height: 50vw;
      margin: auto;
    }
  }

  .titleContainer {
    background-image: url("../photos/church.jpeg");
    background-repeat: no-repeat;
    padding: 8vw 0;
    width: 100%;
    background-size: 100%;
    background-position: center bottom -35px;
    margin-bottom: 25px;

    .transparant {

      text-align: center;
      padding: 17px;
      background-color: rgba(204, 204, 204, 0.57);
      color: black;

      .title {
        font-size: 8vw;
        font-weight: bold;
      }
      .subTitle {
        font-size: 5vw;
      }
    }
  }

  .signUp {
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    .signUpButton {
      margin-top: 20px;
      padding: 10px;
    }
    .modal {
      display: none;
    }

    .show {
      display: block;
    }
    .grayout {
      z-index: 1;
      background: rgba(128, 128, 128, 0.527);
      position: fixed;
      height: 100vh;
      width: 100vw;
      bottom: 0;
      right: 0;
      overflow-y: hidden;
    }

    .signUpForm {
      z-index: 2;
      position: fixed;
      bottom: 50%;
      right: calc(50% - 166px);
      background-color: white;
      padding: 14px;
      border: 2px solid gray;
      border-radius: 20px;
      width: 300px;
      .signUpSubmission {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}