
.mediaContainer {
  display: flex;
  background-color: #cacaca;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.mediaDisplay {
  padding-left: 20px;
  padding-top: 20px;
  .videoPosition {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.mediaHeader {
  width: 640px;
  .bold {
    font-weight: bold;
    color: white;
    font-size: 30px;
  }
}

.snippetDisplay {
  overflow-y: scroll;
  height: 500px;
  max-width: 260px;
  .snippetContainer {
    padding: 20px;
    transition: transform 1s;
    width: 200px;
    .snippet {
      width: 100%;
    }
  }
}

.videoContainer {
  width: fit-content;
  .video {
    border: none;
    width: 640px;
    height: 360px;
    margin: auto;
  }
}

@media (max-width: 880px) {
  .mediaContainer {
    display: flex;
    flex-direction: column;
    background-color: #cacaca;
    width: 680px;
    margin: auto;
    margin-top: 20px;
  }

  .snippetDisplay {
    overflow-x: scroll;
    white-space: nowrap;
    width: calc(100% - 20px);
    overflow-y: auto;
    height: auto;
    max-width: initial;
    padding: 10px;
    .snippetContainer {
      padding: 10px;
      transition: transform 1s;
      width: 200px;
      display: inline-block;
      .snippet {
        width: 100%;
      }
    }
  }

  .mediaDisplay {
    padding: 20px;
    .videoPosition {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

}

@media (max-width: 500px) {
  .mediaContainer {
    flex-direction: column;
    width: 95%;
    margin-top: 75px;
    margin-bottom: 20px
  }

  .mediaDisplay {
    padding: 10px;
    padding-bottom: 0;
    .videoPosition {
      flex-direction: column-reverse;
    }
  }

  .mediaHeader {
    width: auto;
    .bold {
      font-size: 23px;
    }
  }

  .snippetDisplay {
    overflow-x: scroll;
    white-space: nowrap;
    width: calc(100% - 20px);
    overflow-y: auto;
    height: auto;
    max-width: initial;
    padding: 0;
    margin: auto;
    .snippetContainer {
      padding: 10px;
      width: auto;
      display: inline-block;
    }
  }

  .videoContainer {
    .video {
      width: 90vw;
      height: 50vw;
    }
  }
}