
.participationHeader {
  background-color: white;
  padding: 30px;
  text-align: center;
  width: 60%;
  margin: 30px auto;
}

.bold {
  font-size: 30px
}

.ministryList {
  border-top: 1px solid black;
}

.participationInvite {

}