
@import './home';
@import './info';
@import './blog';
@import './media';

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f7f2ea;
  font-family: Arial, Helvetica, sans-serif;
  color: #4e3131;
}

.App {
  position: relative;
  padding-bottom: 100px;
  height: fit-content;

}



.space {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.navBar {
  border-bottom: 1px solid black;
  background-color: inherit;
  overflow: hidden;
  margin-top: 0;
  .logo {
    float: left;
    padding: 10px;
  }
  .navLinks {
    display: flex;
    justify-content: flex-end;
    .navLink {
      color: inherit;
      margin-top: 30px;
      float: right;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      &:hover {
        color: black;
      }
    }
  }
}

.footer {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  width: 100%;
  position: fixed;
  bottom: 0px;
  .copyButton {
    visibility: hidden;
    margin-left: 5px;
  }
}


