.titleContainer {
  background-image: url("../photos/church.jpeg");
  background-repeat: no-repeat;
  padding: 80px 0;
  width: 100%;
  background-size: 100%;
  background-position: center bottom -60px;
  margin-bottom: 25px;
}

.titleContainer .transparant {
  text-align: center;
  padding: 30px;
  background-color: rgba(204, 204, 204, 0.57);
  color: black;
}

.titleContainer .transparant .title {
  font-size: 35px;
  font-weight: bold;
}

.welcomeVideo {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.welcomeVideo .video {
  border: none;
  width: 500px;
  height: 280px;
  margin: auto;
}

.signUp {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}

.signUp .signUpButton {
  margin-top: 20px;
  padding: 10px;
}

.signUp .modal {
  display: none;
}

.signUp .show {
  display: block;
}

.signUp .grayout {
  z-index: 1;
  background: rgba(128, 128, 128, 0.527);
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
}

.signUp .signUpForm {
  z-index: 2;
  position: fixed;
  bottom: 50%;
  right: calc(50% - 166px);
  background-color: white;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 300px;
}

.signUp .signUpForm .signUpSubmission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.infoMessage {
  text-align: center;
  background-color: white;
  width: 700px;
  margin: 50px auto;
  padding: 30px 0;
  font-size: x-large;
}

.subInfo {
  width: 600px;
  height: 250px;
}

.basicInfo {
  text-align: center;
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 20px 0;
  line-height: 1.5;
}

.split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "left right";
  margin: 50px auto;
}

.split .photo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.split .content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  padding: 20px;
  margin: 0;
  line-height: 2;
  background-color: #cacaca;
}

.split .content .bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.mainInfo {
  width: 660px;
  line-height: 2;
  background-color: #cacaca;
  display: block;
  padding: 20px;
}

.mainInfo .description {
  font-size: x-large;
}

.mainInfo .storyImage {
  float: left;
  margin: 0 20px 5px 0;
}

.mainInfo .bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}

.blog {
  background-color: #cacaca;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.blog .blogHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 15px;
  padding: 30px 15px 20px;
  border-bottom: 1px solid black;
}

.blog .blogHeading .blogImage {
  width: 40vw;
}

.blog .blogHeading .blogTitle {
  color: white;
  font-size: 30px;
  margin: 20px 40px;
  font-weight: bold;
}

.blog .blogHeading .blogAuthor {
  margin: 20px 40px;
  font-weight: bold;
}

.blog .blogContent {
  margin: 5px 30px;
  padding-bottom: 15px;
}

.previewTitle {
  color: black;
}

.blogDisplay {
  padding: 10px;
  margin-left: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  background-color: #cacaca;
}

.blogPostTitle {
  font-weight: bold;
  font-size: 25px;
}

.previewImage {
  width: 20vw;
}

.blogAlign {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 2fr;
      grid-template-columns: 7fr 2fr;
      grid-template-areas: 'left right';
  margin-bottom: 50px;
}

.mediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cacaca;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.mediaDisplay {
  padding-left: 20px;
  padding-top: 20px;
}

.search {
  margin: 10px 0;
}

.mediaHeader {
  width: 640px;
}

.mediaHeader .bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.snippetDisplay {
  overflow-y: scroll;
  height: 500px;
  max-width: 260px;
}

.snippetDisplay .snippetContainer {
  padding: 20px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 200px;
}

.snippetDisplay .snippetContainer .snippet {
  width: 100%;
}

.videoContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.videoContainer .video {
  border: none;
  width: 640px;
  height: 360px;
  margin: auto;
}

@media (max-width: 880px) {
  .mediaContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #cacaca;
    width: 680px;
    margin: auto;
    margin-top: 20px;
  }
  .snippetDisplay {
    overflow-x: scroll;
    white-space: nowrap;
    width: calc(100% - 20px);
    overflow-y: auto;
    height: auto;
    max-width: initial;
    padding: 10px;
  }
  .snippetDisplay .snippetContainer {
    padding: 10px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    width: 200px;
    display: inline-block;
  }
  .snippetDisplay .snippetContainer .snippet {
    width: 100%;
  }
  .mediaDisplay {
    padding: 20px;
  }
}

.header {
  background-color: white;
  padding: 30px;
  text-align: center;
  width: 60%;
  margin: 30px auto;
}

.bold {
  font-size: 30px;
}

.ministryList {
  border-top: 1px solid black;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f7f2ea;
  font-family: Arial, Helvetica, sans-serif;
  color: #4e3131;
  scroll-behavior: smooth;
}

.App {
  position: relative;
  padding-bottom: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.space {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.navBar {
  border-bottom: 1px solid black;
  background-color: inherit;
  overflow: hidden;
  margin-top: 0;
}

.navBar .logo {
  float: left;
  padding: 10px;
}

.navBar .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar .navLinks .navLink {
  color: inherit;
  margin-top: 30px;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar .navLinks .navLink:hover {
  color: black;
}

.footer {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footer .copyButton {
  visibility: hidden;
  margin-left: 5px;
}

.footer .contact {
  float: left;
}

.footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: small;
  gap: 15px;
  text-decoration: underline;
  padding: 10px;
}

.footer .footerLinks .footerLink {
  cursor: pointer;
}

.footer .footerLinks .footerLink:hover {
  color: gray;
}
/*# sourceMappingURL=style.css.map */