.titleContainer {
  background-image: url("../photos/church.jpeg");
  background-repeat: no-repeat;
  padding: 80px 0;
  width: 100%;
  background-size: 100%;
  background-position: center bottom -60px;
}

.titleContainer .title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
  height: 80px;
  line-height: 80px;
  background-color: rgba(204, 204, 204, 0.57);
}

.welcomeVideo {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  margin: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.welcomeVideo .video {
  border: none;
  width: 500px;
  height: 280px;
  margin: auto;
}

.signUp {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 30px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}

.signUp .signUpButton {
  margin-top: 20px;
  padding: 10px;
}

.signUp .modal {
  display: none;
}

.signUp .show {
  display: block;
}

.signUp .grayout {
  z-index: 1;
  background: rgba(128, 128, 128, 0.527);
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
}

.signUp .signUpForm {
  z-index: 2;
  position: fixed;
  bottom: 50%;
  right: calc(50% - 166px);
  background-color: white;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 300px;
}

.signUp .signUpForm .signUpSubmission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.infoMessage {
  text-align: center;
  background-color: white;
  width: 700px;
  margin: 50px auto;
  padding: 30px 0;
  color: #884c4c;
  font-size: x-large;
}

.mainInfo {
  width: 700px;
  height: 300px;
}

.subInfo {
  width: 600px;
  height: 250px;
}

.basicInfo {
  text-align: center;
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 20px 0;
  line-height: 1.5;
  color: #903f3f;
}

.split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "left right";
  margin: 50px auto;
}

.photo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  padding: 20px;
  margin: 0;
  line-height: 2;
  background-color: #cacaca;
}

.bold {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f7f2ea;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.App {
  position: relative;
  padding-bottom: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.space {
  width: 95%;
  margin: auto;
}

.navBar {
  border-bottom: 1px solid black;
  background-color: inherit;
  overflow: hidden;
}

.navBar .logo {
  float: left;
  padding: 10px;
}

.navBar .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar .navLinks .navLink {
  color: inherit;
  margin-top: 30px;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar .navLinks .navLink:hover {
  color: black;
}

.footer {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footer .copyButton {
  visibility: hidden;
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */